<header class="navbar">
  <div class="navbar__brand">
    <a routerLink="/">Tradr</a>
    <button class="navbar__toggle" (click)="open = !open" aria-label="Toggle menu">
      <!-- simple hamburger icon -->
      <span></span><span></span><span></span>
    </button>
  </div>

  <nav class="navbar__menu" [class.navbar__menu--open]="open">
    <a routerLink="/" (click)="open = false">Home</a>
    <ng-container *ngIf="!isLoggedIn()">
      <a routerLink="/login" (click)="open = false">Login</a>
      <a routerLink="/register" (click)="open = false">Register</a>
    </ng-container>
    <ng-container *ngIf="isLoggedIn()">
      <a (click)="logout(); open = false">Logout</a>
    </ng-container>
  </nav>
</header>
